*{
    padding: 0;
margin: 0;
box-sizing: border-box;
}
header{
    width: 1349px;
    height: 115px;
    padding-left: 125px;
    color: #6d6a6a;
    display: flex;
position: relative;

}
.image{
    width: 212px;
    height: 115px;
    display: flex;
    align-items: center;

}
.image img{
    width: 205px;
    height: 25px;
}
.footer1{
    position: absolute;
    width: 808px;
    height: 115px;
    right: 120px;
    color: white;
    display: flex;
}

.yazi {
    position: relative;
    width: 95px;
    height: 115px;
    padding: 20px;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    
}

.yazi-detay {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    padding: 20px;
    cursor: pointer;
}
.yazi p:hover{
    text-decoration: underline;
    text-decoration-color: rgb(77, 77, 77);

}
.yazi:hover .yazi-detay {
    display: block;
}
.yazi p{
  color: #1B1B1B;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
padding-bottom: 10px;

}
.px12{
    font-size: 12px;
}







.yazi2 {
    position: relative;
    width: 95px;
    height: 115px;
    padding: 20px;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.yazi-detay {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    padding: 20px;
    cursor: pointer;
}
.yazi2 p:hover{
    text-decoration: underline;
    text-decoration-color: rgb(77, 77, 77);

}
.yazi2:hover .yazi-detay {
    display: block;
    
}
.yazi2 p{
  color: #1B1B1B;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
  padding-bottom: 10px;

}





.yazi3 {
    position: relative;
    width: 120px;
    height: 115px;
    padding: 20px;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    
}

.yazi-detay {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    padding: 20px;
    cursor: pointer;
}
.yazi3 p:hover{
    text-decoration: underline;
    text-decoration-color: rgb(77, 77, 77);

}
.yazi3:hover .yazi-detay {
    display: block;
}
.yazi3 p{
  color: #1B1B1B;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
padding-bottom: 10px;
}

#img1{
margin-bottom: 4px;
   color: #1B1B1B;
cursor: pointer;
}
#img1:hover{
    color: red;
}
#img2{
    padding-left: 70px;
    padding-top: 46px;
    color: #1B1B1B;
}
.carts{
    display: flex;
    font-size: 12px;
    padding-left: 20px;
    padding-top: 46px;
    color: #1B1B1B;
}
.carts2{
padding-left: 5px;
}
